<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Cowrie Live Feed</title>
</head>
<body style="background:black;color:#0f0;font-family:monospace;padding:20px;">

<h2>Live Cowrie Logs</h2>
<pre id="honeypot-log">Loading...</pre>

<script>
const API_URL = "https://api.github.com/gists/264b6727308ea84e7f447e21b2b466ae";
const FILE = "attacks.json";

async function load() {
    try {
        console.log("Fetching gist...");

        const res = await fetch(API_URL + "?t=" + Date.now());
        console.log("Status:", res.status);

        const data = await res.json();
        console.log("Files:", data.files);

        const file = data.files[FILE];

        if (!file) {
            document.getElementById("honeypot-log").innerText = "File missing in Gist";
            return;
        }

        document.getElementById("honeypot-log").innerText = file.content;

    } catch (err) {
        console.error(err);
        document.getElementById("honeypot-log").innerText = "Fetch error";
    }
}

load();
setInterval(load, 5000);
</script>

</body>
</html>
